input,
textarea {
    border: solid 1px rgba(0, 0, 0, 0.075);
}

input[type="submit"],
input[type="email"],
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
}

button,
input[type="submit"] {
    border-radius: 0.25rem;
    outline: 0;
    cursor: pointer;
    border-style: none;
    font-family: $primary-font;
    transition: background-color 0.25s ease, filter 0.25s ease;
}

input[type="number"] {
    font-size: 1.125rem;
}

label {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    order: -1;
}
