[data-tip] {
    position: relative;
    cursor: help;

    &:before,
    &:after {
        position: absolute;
        transform: translateX(-50%);
        visibility: hidden;
        transition: visibility 0s linear 0.2s, opacity 0.2s 0s;
        opacity: 0;
    }

    &:before {
        content: attr(data-tip);
        background-color: rgba(0, 0, 0, 0.875);
        bottom: calc(100% + 0.5rem);
        border-radius: 0.2rem;
        left: 50%;
        padding: 0.25rem 0.25rem;
        color: white;
        font-size: 0.75rem;
        text-align: center;
        font-family: $text-font;
        min-width: 10rem;
    }

    &:after {
        content: '';
        border-style: solid;
        border-width: 0.5rem 0.5rem 0 0.5rem;
        border-color: rgba(0, 0, 0, 0.875) transparent rgba(0, 0, 0, 0.875) transparent;
        left: calc(50% + 0.25rem);
        top: -0.45rem;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s linear 0s, opacity 0.2s 0s;
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0.5;
}

.l-container {
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    padding: 0 1rem;
    width: $content;
}
